*.img filter=lfs diff=lfs merge=lfs -text
*.txd filter=lfs diff=lfs merge=lfs -text
CustomLoadScreen.png filter=lfs diff=lfs merge=lfs -text
mouse.png filter=lfs diff=lfs merge=lfs -text
sampgui.png filter=lfs diff=lfs merge=lfs -text
models/map_e.img filter=lfs diff=lfs merge=lfs -text
models/modloader.img filter=lfs diff=lfs merge=lfs -text
models/nyt.img filter=lfs diff=lfs merge=lfs -text
models/prt_c.img filter=lfs diff=lfs merge=lfs -text
models/nytcol.img filter=lfs diff=lfs merge=lfs -text
models/nytlod.img filter=lfs diff=lfs merge=lfs -text
models/nytweapons.img filter=lfs diff=lfs merge=lfs -text
models/prt_a.img filter=lfs diff=lfs merge=lfs -text
models/nytskins2.img filter=lfs diff=lfs merge=lfs -text
models/cutscene.img filter=lfs diff=lfs merge=lfs -text
models/gta3.img filter=lfs diff=lfs merge=lfs -text
models/gta3_b.img filter=lfs diff=lfs merge=lfs -text
models/gta_int.img filter=lfs diff=lfs merge=lfs -text
models/map_b.img filter=lfs diff=lfs merge=lfs -text
models/map_d.img filter=lfs diff=lfs merge=lfs -text
models/nytskins.img filter=lfs diff=lfs merge=lfs -text
models/nytvehicles1.img filter=lfs diff=lfs merge=lfs -text
models/nytvehicles2.img filter=lfs diff=lfs merge=lfs -text
models/prt_b.img filter=lfs diff=lfs merge=lfs -text
models/gta3_a.img filter=lfs diff=lfs merge=lfs -text
models/map_a.img filter=lfs diff=lfs merge=lfs -text
models/map_c.img filter=lfs diff=lfs merge=lfs -text
models/player.img filter=lfs diff=lfs merge=lfs -text
atp/*.mp3 filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
vorbisHooked.dll filter=lfs diff=lfs merge=lfs -text
zlib1.dll filter=lfs diff=lfs merge=lfs -text
bass.dll filter=lfs diff=lfs merge=lfs -text
ogg.dll filter=lfs diff=lfs merge=lfs -text
samp.dll filter=lfs diff=lfs merge=lfs -text
vorbis.dll filter=lfs diff=lfs merge=lfs -text
lua51.dll filter=lfs diff=lfs merge=lfs -text
msvcr100d.dll filter=lfs diff=lfs merge=lfs -text
vorbisFile.dll filter=lfs diff=lfs merge=lfs -text
DllTricks.dll filter=lfs diff=lfs merge=lfs -text
MinHook.x86.dll filter=lfs diff=lfs merge=lfs -text
eax.dll filter=lfs diff=lfs merge=lfs -text
libcurl.dll filter=lfs diff=lfs merge=lfs -text
cef/natives_blob.bin filter=lfs diff=lfs merge=lfs -text
cef/v8_context_snapshot.bin filter=lfs diff=lfs merge=lfs -text
cef/chrome_elf.dll filter=lfs diff=lfs merge=lfs -text
cef/client.dll filter=lfs diff=lfs merge=lfs -text
cef/devtools_resources.pak filter=lfs diff=lfs merge=lfs -text
cef/icudtl.dat filter=lfs diff=lfs merge=lfs -text
cef/cache filter=lfs diff=lfs merge=lfs -text
cef/cef_100_percent.pak filter=lfs diff=lfs merge=lfs -text
cef/cef_200_percent.pak filter=lfs diff=lfs merge=lfs -text
cef/cef_extensions.pak filter=lfs diff=lfs merge=lfs -text
cef/libglesv2.dll filter=lfs diff=lfs merge=lfs -text
cef/locales filter=lfs diff=lfs merge=lfs -text
cef/plugins filter=lfs diff=lfs merge=lfs -text
cef/snapshot_blob.bin filter=lfs diff=lfs merge=lfs -text
cef/swiftshader filter=lfs diff=lfs merge=lfs -text
cef/user_data filter=lfs diff=lfs merge=lfs -text
cef/libegl.dll filter=lfs diff=lfs merge=lfs -text
cef/renderer.exe filter=lfs diff=lfs merge=lfs -text
cef/cef.log filter=lfs diff=lfs merge=lfs -text
cef/cef.pak filter=lfs diff=lfs merge=lfs -text
cef/d3dcompiler_47.dll filter=lfs diff=lfs merge=lfs -text
cef/libcef.dll filter=lfs diff=lfs merge=lfs -text
models/CamHunt.txd filter=lfs diff=lfs merge=lfs -text
models/effects.fxp filter=lfs diff=lfs merge=lfs -text
models/fronten2.txd filter=lfs diff=lfs merge=lfs -text
models/hud.txd filter=lfs diff=lfs merge=lfs -text
models/effectsPC.txd filter=lfs diff=lfs merge=lfs -text
models/fonts.txd filter=lfs diff=lfs merge=lfs -text
models/fronten1.txd filter=lfs diff=lfs merge=lfs -text
models/fronten3.txd filter=lfs diff=lfs merge=lfs -text
models/fronten_pc.txd filter=lfs diff=lfs merge=lfs -text
models/grass filter=lfs diff=lfs merge=lfs -text
models/misc.txd filter=lfs diff=lfs merge=lfs -text
models/particle.txd filter=lfs diff=lfs merge=lfs -text
models/txd filter=lfs diff=lfs merge=lfs -text
models/Mobile_details.txd filter=lfs diff=lfs merge=lfs -text
models/coll filter=lfs diff=lfs merge=lfs -text
models/generic filter=lfs diff=lfs merge=lfs -text
models/pcbtns.txd filter=lfs diff=lfs merge=lfs -text
