*.img filter=lfs diff=lfs merge=lfs -text
*.txd filter=lfs diff=lfs merge=lfs -text
CustomLoadScreen.png filter=lfs diff=lfs merge=lfs -text
mouse.png filter=lfs diff=lfs merge=lfs -text
sampgui.png filter=lfs diff=lfs merge=lfs -text
models/map_e.img filter=lfs diff=lfs merge=lfs -text
models/modloader.img filter=lfs diff=lfs merge=lfs -text
models/nyt.img filter=lfs diff=lfs merge=lfs -text
models/prt_c.img filter=lfs diff=lfs merge=lfs -text
models/nytcol.img filter=lfs diff=lfs merge=lfs -text
models/nytlod.img filter=lfs diff=lfs merge=lfs -text
models/nytweapons.img filter=lfs diff=lfs merge=lfs -text
models/prt_a.img filter=lfs diff=lfs merge=lfs -text
models/nytskins2.img filter=lfs diff=lfs merge=lfs -text
models/cutscene.img filter=lfs diff=lfs merge=lfs -text
models/gta3.img filter=lfs diff=lfs merge=lfs -text
models/gta3_b.img filter=lfs diff=lfs merge=lfs -text
models/gta_int.img filter=lfs diff=lfs merge=lfs -text
models/map_b.img filter=lfs diff=lfs merge=lfs -text
models/map_d.img filter=lfs diff=lfs merge=lfs -text
models/nytskins.img filter=lfs diff=lfs merge=lfs -text
models/nytvehicles1.img filter=lfs diff=lfs merge=lfs -text
models/nytvehicles2.img filter=lfs diff=lfs merge=lfs -text
models/prt_b.img filter=lfs diff=lfs merge=lfs -text
models/gta3_a.img filter=lfs diff=lfs merge=lfs -text
models/map_a.img filter=lfs diff=lfs merge=lfs -text
models/map_c.img filter=lfs diff=lfs merge=lfs -text
models/player.img filter=lfs diff=lfs merge=lfs -text
atp/*.mp3 filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
vorbisHooked.dll filter=lfs diff=lfs merge=lfs -text
zlib1.dll filter=lfs diff=lfs merge=lfs -text
bass.dll filter=lfs diff=lfs merge=lfs -text
ogg.dll filter=lfs diff=lfs merge=lfs -text
samp.dll filter=lfs diff=lfs merge=lfs -text
vorbis.dll filter=lfs diff=lfs merge=lfs -text
lua51.dll filter=lfs diff=lfs merge=lfs -text
msvcr100d.dll filter=lfs diff=lfs merge=lfs -text
vorbisFile.dll filter=lfs diff=lfs merge=lfs -text
DllTricks.dll filter=lfs diff=lfs merge=lfs -text
MinHook.x86.dll filter=lfs diff=lfs merge=lfs -text
eax.dll filter=lfs diff=lfs merge=lfs -text
libcurl.dll filter=lfs diff=lfs merge=lfs -text
